################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/rozetka_webscrapper/results/results_2020-12-06_165425535439.json
